body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: normal;
    color: white;
    background-color: #586a8e;
}

.header {
    background: teal ;
    color: white;
    text-align: center;
}

/* Nikhil Added */
.aboutusheader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
    background-color: #4b556a;
    color: white;
}
